<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Codystar&display=swap" rel="stylesheet">
    @RenderBody()
    <title>homesickness calculator</title>
</head>
<body>
    <div id="title">
        <h3>homesickness</h3>
        <div id="locations">
            <p>from Budapest</p>
            <p>to Csíkszereda</p>
        </div>
    </div>
    <div id="charts">
        <div id="area_chart" style="width: 1170px; height: 550px"></div>
        <div id="column_chart" style="width: 460px; height: 550px"></div>
    </div>
    <div id="links">
        <span>The area chart on the left shoud depict the weather:</span>
        <a href="/homesickness/week" class=@(ViewData["timespan"].Equals("week") ? "chosen" : "notChosen")>for the last week</a>
        <a href="/homesickness/day" class=@(ViewData["timespan"].Equals("day") ? "chosen" : "notChosen")>for the last day</a>
        <a id="lastLink" href="/homesickness/all" class=@(ViewData["timespan"].Equals("all") ? "chosen" : "notChosen")>since the app has started gathering data</a>
    </div>
    <div id="footer">
        <p>
            Thanks to
            / <a href="https://github.com/aubera">Auber Andor</a> for a Javascript for-loop and array initialization
            / <a href="https://developers.google.com/chart/">Google Charts</a> for the charts
            / <a href="https://openweathermap.org/api">OpenWeather</a> for the weather data  
            / <a href="https://www.hangfire.io/">Hangfire</a> for scheduling
            / <a href="https://www.mysql.com">MySQL</a> for remembering the weather data
            / <a href="https://docs.microsoft.com/en-us/aspnet/core/?view=aspnetcore-2.2">ASP.NET Core</a> for keeping everything together as a framework
        </p>
    </div>
</body>
</html>