<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Codystar&display=swap" rel="stylesheet">
    @RenderBody()
    <title>homesickness calculator</title>
</head>
<body>
    <div id="title">
        <h1>homesickness</h1>
        <div id="locations">
            <h2>from Budapest</h2>
            <h2>to Csíkszereda</h2>
        </div>
    </div>
    <div id="chartTitles">
        <h3>The weather here and in my hometown</h3>
        <h3>Temperature-based homesickness index</h3>
    </div>
    <div id="charts">
        <div id="area_chart" style="width: 1170px; height: 550px"></div>
        <div id="column_chart" style="width: 460px; height: 550px"></div>
    </div>
    <div id="links">
        <span>The area chart on the left shoud depict the weather:</span>
        <a href="/week" class=@(ViewData["interval"].Equals("week") ? "chosen" : "notChosen")>for the last week</a>
        <a href="/day" class=@(ViewData["interval"].Equals("day") ? "chosen" : "notChosen")>for the last day</a>
        <a id="lastLink" href="/all" class=@(ViewData["interval"].Equals("all") ? "chosen" : "notChosen")>since the app has started gathering data</a>
    </div>
    @if (ViewData["errorMessage"] != null)
     {
        <p id="errorMessage">@ViewData["errorMessage"]</p>
     }
    <footer>
        <p>
            Thanks to
            / <a href="https://developers.google.com/chart/">Google Charts</a> for the charts
            / <a href="https://openweathermap.org/api">OpenWeather</a> for the weather data
            / <a href="https://www.hangfire.io/">Hangfire</a> for scheduling
            / <a href="https://www.mysql.com">MySQL</a> for remembering the weather data
            <br />
            / <a href="https://docs.microsoft.com/en-us/aspnet/core/?view=aspnetcore-2.2">.NET Core 2.2gi</a> for keeping everything together as a framework
        </p>
    </footer>
</body>
</html>